.animation {
    position: relative;
    transition: 0.2s ease-in-out;
    background: linear-gradient(to right,rgb(243 244 246)50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    cursor: pointer;
  }
  
  .animation:hover {
    background-position: 0 0;
    /* color: #666;  Beau gris (par exemple #666) */
  }

